<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="style.css">
    <link rel="shortcut icon" href="/background/btdc.jpg" type="image/x-icon">
    <script src="http://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>

    <title>About Us</title>
</head>
<body>
    <h1> 
        <!-- About Session -->
        About Us
    </h1>
</body>
</html>