<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="style.css">
    <link rel="shortcut icon" href="/background/btdc.jpg" type="image/x-icon">
    <script src="http://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>

    <title>BDTC Crypto</title>
</head>
<body>
    <header class="Header navbar">
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <nav class="nav">
            <ul class="nav-list">
            <!-- <img style="width: 120px; height: 120px; filter: brightness(0) invert(1);" src="./background/bdtc.png" alt=""> -->
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="search">
            <input type="text" placeholder="Search...">
            <a style="color: red; margin-right: 15px; margin-left: -28px;"> <i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </header>
    <div class=""></div>
    <section class="Home">
        <div class="content">
            <div class="body-message">
            <h2 class="logo"> Welcome!</h2>
            <h3> To Our Community of Crypto Raiders </h3>
            <pre> BDTC Crypto shilling community.
                Better Days Through Crypto.
            </pre>
        </div>
        <a href="#" class="btn btn-primary">Get started now</a>
        </div>
        <div class="login">
            <h2> Sign in</h2>
            <div  class="input">
                <input style="margin-left: -10px;" type="text" class="input1" placeholder="Email" required>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input">
                <input style="margin-left: -10px;" type="password" class="input1" placeholder="Password" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="check">
                <i><label style="color: white;"> <input  type="checkbox"> Remember me </label></i>
                <a style="color: white;" href="#"> Forget Password?</a>
            </div>
            <div class="button">
                <button class="btn-primary" style="padding: 8px 8px; color: #ffffff; border-radius: 6px; font-size: 17px; font-weight: bold; background-color: #175a06;" class="btn"> Sign In</button>
            </div>
            <div class="sign-up">
                <p> Don't have an account? <button class="btn-primary" style="background-color: #175a06; padding: 8px 8px; border-radius: 6px; margin-right: -14px;" ><a style="color: white;" href="#"> Sign Up</a> </button></p>
            
            </div>

        </div>

    </section>

    <footer>
        Privacy • Terms • Refund  | BDTC &copy; 2023 All Right Reserved.
    </footer>
    <script src="script.js"></script>
</body>
</html>